<!-- Logo Cloud -->
<div class="bg-gray-100">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
		<p class="text-center text-sm font-semibold uppercase text-gray-500 tracking-wide">
			{{ logocloud_cloud_text }}
		</p>
		<div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
			{{ logocloud_replicator }}
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
				{{ if link != '' }}<a href="{{ link }}">{{ /if }}
					{{ image }} <img class="h-12" src="{{ url }}" alt="Tuple">{{ /image }}
				{{ if link != '' }}</a>{{ /if }}
			</div>
			{{ /logocloud_replicator }}
		</div>
	</div>
</div>